.hero {
  padding-top: 60px;
 
    &__fullbox {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
 
    @media (max-width: 1024px) {
      &__title-Popular {
        font-size: 22px;
      }
 
      &__title-year {
        font-size: 15px;
      }
 




 
      &__search-year {
        width: 38px;
        height: 38px;
      }
    }
 
    &__title-Popular {
      width: 386px;
      height: 29px;
      color: #000000;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      font-family: Montserrat Alternates;
      margin-bottom: 36px;
      text-align: center;
    }
 
    &__line-year {
      height: 1px;
      background-color: black;
      margin-top: 20px;
      width: 536px;
      border-width: 1px;
    }
 
    &__title-year {
      font-family: Montserrat Alternates;
      font-weight: 400;
      font-size: 16px;
      line-height: 19.5px;
      margin-top: 15px;
      text-align: center;
    }
 
    &__input-box-year {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 45px;
      margin-bottom: 25px;
    }




    &__input-year {
      color: #7E7E7E;
      border-radius: 20px 0 0 20px;
      background: #d7d7d7;
      border: none;
      box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
      font-size: 15px;
      padding-top: 8px;
      padding-bottom: 9px;
      font-family: "Montserrat Alternates";
      font-style: normal;
      font-weight: 400;
      line-height: normal;


      &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }


        &[type="number"] {
            -moz-appearance: textfield;
            appearance: textfield;
            /* на всякий случай */
        }
    }
   
    &__input-year::placeholder {
      color: #7E7E7E;
      font-size: 13px;
      font-family: "Montserrat Alternates";
      font-weight: 400;
      display: block;
      width: 100%;
      text-align: center;
    }












    &__search-year {
      background-color: black;
      height: 35px;
      width: 35px;
      border-radius: 0px 20px 20px 0px;
      box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
 
      &:hover {
        background-color: gray;
        transition-duration: 0.6s;
      }
    }
 
    img {
      margin-right: auto;
      margin-left: auto;
    }
 
    &__check-year {
      text-align: center;
      margin-top: 10px;
      color: green;
      margin-left: 110px;
      min-width: 300px;
      max-width: 310px;
      font-family: Montserrat Alternates;
    }
 
    @media (max-width: 768px) {
      &__title-Popular {
        font-size: 20px;
      }
 
      &__line-year {
        max-width: 80%;
      }
 
      &__title-year {
        font-size: 14px;
      }
 
      &__input-box-year {
        flex-direction: column;
        align-items: center;
        gap: 8px;
      }
 




 
      &__search-year {
        border-radius: 20px;
        width: 50px;
      }
 
      &__check-year {
        text-align: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
      }
    }
 
    @media (max-width: 480px) {
      &__title-Popular {
        font-size: 18px;
      }
 
      &__title-year {
        font-size: 14px;
      }
 
      &__input-box-year {
        gap: 5px;
      }
 
 
 
      &__search-year {
        width: 45px;
        height: 35px;
      }
 
      &__check-year {
        font-size: 12px;
        text-align: center;
      }
    }
  }






.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: #80808080;
    backdrop-filter: blur(3px);
   
   
   
 
    &--visible {
      display: flex;
     
    }
  }


.register {


    position: fixed;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    z-index: 1001;
    width: 576px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    font-family: "Montserrat Alternates", sans-serif;




    @media (max-width: 480px) {
        width: 400px;
        height: 300px;


        .register__icon {
            width: 20px;
            height: 20px;
        }


        .register__input {
            width: 119;
            height: 25;
        }
    }


&__container {
    max-width: 500px;
   


}


&__text {
    width: 392;
    height: 60;
    top: 46px;
    left: 92px;
   
}


&__label {
    font-size: 16px;
    font-family: "Montserrat Alternates", sans-serif;
    margin-bottom: 10px;
    display: block;
}


&__input {
    width: 169;
    height: 35;
    top: 181px;
    left: 204px;
    gap: 10px;
    border-radius: 20px;
    padding-top: 10px;
    padding-right: 90px;
    padding-bottom: 10px;
    padding-left: 10px;
    &:hover, &:focus {
        border: none;
        background-color: #dbdbdb;
        outline: none;
    }
}


&__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}


&__button {
    margin-top: 15px;
    width: 105px;
    height: 35px;
    border-radius: 20px;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-family: "Montserrat Alternates", sans-serif;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}


&__button:hover, &__button:focus {
    background: #444;
}


&__text {
    margin-bottom: 60px;
}


&__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}


&__icon {
    position: absolute;
    width: 40px;
    height: 40px;
}


&__icon--left-top {
    top: 200px;
    left: 5%;
}


&__icon--left-bottom {
    bottom: 10%;
    left: 5%;
}


&__icon--right-top {
    top: 200px;
    right: 5%;
}


&__icon--right-bottom {
    bottom: 10%;
    right: 5%;
}
}


body.modal-open-bg::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #80808080;
    backdrop-filter: blur(3px);  
    z-index: 998;
}


body.dark-mode .register img {
    filter: invert(1);
}


body.dark-mode .backdrops img {
    filter: invert(1);
}


.no-scroll {
    overflow: hidden;
   
}


.backdrop-hidden {
    display: none;
   
}


.error {
    border: 2px solid red;
}
 
