.time {
  display: flex;
  justify-content: center;
  text-align: center;

  &__input {
    width: auto;
    margin: auto 0px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    background: #d7d7d7;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    color: #7e7e7e;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
  }

  &__box {
    height: 0;
    border: black dashed 1px;
    width: 100px;
  }

  &__title {
    color: #000;
    font-family: 'Montserrat Alternates';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    gap: 33px;
  }

  &__form{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 19px;
  }

  &__button {
    background-color: #000;
    border-bottom-right-radius: 50%;
    padding: 10px;
    position: absolute;
    border-top-right-radius: 50%;
    padding: 8px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    bottom: 0;
    left: 154.5px;
  }

  &__amount {
    color: #000;
    font-family: 'Montserrat Alternates';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
