.team {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    &__title {
        color: $black-color;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__box {
        position: relative;
        max-width: 100%;
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
        margin: 36px auto 24px auto;
    }

    &__items {
        display: flex;
        transition: transform 0.4s ease;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        height: auto;
        flex-shrink: 0;
        object-fit: cover;
        // display: block;
    }

    &__img {
        margin: 0px auto;
        width: 150px;
        height: 150px;
        border-radius: 20px;
        background: $light-gray-color;
    }

    &__name {
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
    }

    &__text {
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
    }

    &__btn {
        stroke: $black-color;
        stroke-width: 1px;
        position: absolute;
        top: 50%;
        width: 50px;
        height: 100px;
        transform: translateY(-50%);
        background: none;
        border: none;
        font-size: 24px;
        padding: 5px 10px;
        border-radius: 5px;
        user-select: none;
        transition: 250ms;

        &:hover {
            opacity: 0.6;
        }
    }

    &__prev {
        left: 10px;
    }

    &__next {
        right: 10px;
    }

    &__under {
        display: flex;
        gap: 6px;
        justify-content: center;

        &-box {
            user-select: none;
            position: relative;
            width: 18px;
            height: 3px;
            border-radius: 3px;
            background-color: $light-gray-color;
            color: $light-gray-color;
            font-size: 10px;
            font-weight: 600;
            cursor: pointer;
            transition: 250ms;

            &:hover {
                background-color: $gray-color;
                color: $gray-color;
                opacity: 0.6;
            }

            &-span {
                position: absolute;
                top: -10px;
                left: 50%;
                transform: translateX(-50%);
                transition: 250ms;
            }

            &-active {
                width: 30px;
                color: $gray-color;
                background-color: $gray-color;
                font-size: 16px;
                font-weight: 800;

                .team__under-box-span {
                    position: absolute;
                    top: 4px;
                }
            }
        }
    }
}