* {
    font-family: "Montserrat Alternates";
}

button {
    border: none;
    cursor: pointer;
}

input {
    border: none;
    cursor: text;
}

section {
    position: relative;
    padding: 36px 0px;

    &:not(:last-child)::after {
        content: "";
        position: absolute;
        // bottom: -36px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 100%;
        max-width: 536px;
        height: 1px;
        background-color: #000;
    }
}


.black {
    color: $black-color;
}

.green {
    color: $green-color;
}

.red {
    color: $red-color;
}

.body {
    background-image: url(../img/bcg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}