<section class="calculator">
    <div class="container">
        <h2 class="calculator__title">Калькулятор</h2>

        <div class="calculator__box">
            <input type="text" class="calculator__input calculator__input-first" placeholder="Введіть число">

            <div class="calculator__symbols">
                <button class="calculator__btn calculator__symbols-btn">+</button>
                <button class="calculator__btn calculator__symbols-btn">*</button>
                <button class="calculator__btn calculator__symbols-btn">-</button>
                <button class="calculator__btn calculator__symbols-btn">/</button>
            </div>

            <input type="text" class="calculator__input calculator__input-second" placeholder="Введіть число">

            <button class="calculator__btn calculator__equal">=</button>

            <p class="calculator__result-num">Результат</p>
        </div>
    </div>
</section>