<section class="exerises">
    <div class="container">
        <h2 class="exerises__title">Обери вченого/их</h2>

        <ul class="exerises__items">
        </ul>

        <p class="exerises__warn">Натисніть на кнопку</p>

        <ul class="exerises__questions">
            <li class="exerises__question">
                <button class="exerises__question-button" data-action="born-19-st">Які вчені народилися в 19 ст.</button>
            </li>
            <li class="exerises__question">
                <button class="exerises__question-button" data-action="born-albert">Знайти рік народження Albert Einshtein</button>
            </li>
            <li class="exerises__question">
                <button class="exerises__question-button" data-action="alphabet">Відсортувати вчених за алфавітом</button>
            </li>
            <li class="exerises__question">
                <button class="exerises__question-button" data-action="surname-first-c">Знайти вчених, прізвища яких починаються на на літеру “С” </button>
            </li>
            <li class="exerises__question">
                <button class="exerises__question-button" data-action="born-dead-years">Відсортувати вчених за кількістю прожитих років</button>
            </li>
            <li class="exerises__question">
                <button class="exerises__question-button" data-action="name-first-a">Видалити всіх вчених, ім’я яких починається на “А”</button>
            </li>
            <li class="exerises__question">
                <button class="exerises__question-button" data-action="dead-last">Знайти вченого, який народився найпізніше</button>
            </li>
            <li class="exerises__question">
                <button class="exerises__question-button" data-action="born-dead-short-long">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button>
            </li>
            <li class="exerises__question">
                <button class="exerises__question-button" data-action="first-name-surname">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
            </li>
            <li class="exerises__question">
                <button class="exerises__question-button" data-action="worked-exerises-19-st">Дізнатися чи всі вченні працювали в 19 столітті</button>
            </li>
            <li class="exerises__question">
                <button class="exerises__question-button" data-action="sum-ages">
                    Знайти суму років усіх вчених
                </button>
            </li>
            <li class="exerises__question">
                <button class="exerises__question-button" data-action="remove-born-15-17">
                    Видалити вчених, народжених у 15–17 ст.
                </button>
            </li>
        </ul>
    </div>
</section>