<section id="experience" class="experience-section">
  <div class="container">
    <div class="experience-text">
    <h2 class="experience-title">Coffee MomentS</h2>
    <p class="experience-title-description">
      Experience the warmth and community of CoffeeJoy.
    </p>
    </div>
    <ul class="experience-list">
      <li class="experience-list-item">
        <img
          src="./img/experience/ceramiccup.webp"
          alt="ceramiccup"
          class="experience-item-img experience-img-one"
        />
      </li>
      <li class="experience-list-item">
        <img
          src="./img/experience/breakfast.webp"
          alt="breakfast"
          class="experience-item-img experience-img-two"
        />
      </li>
      <li class="experience-list-item">
        <img
          src="./img/experience/armchair.webp"
          alt="armchair"
          class="experience-item-img experience-img-three"
        />
      </li>
      <li class="experience-list-item">
        <img
          src="./img/experience/pouring.webp"
          alt="pouring"
          class="experience-item-img experience-img-four"
        />
      </li>
      <li class="experience-list-item">
        <img
          src="./img/experience/coffejoy.webp"
          alt="coffeejoy"
          class="experience-item-img experience-img-five"
        />
      </li>
      <li class="experience-list-item">
        <img
          src="./img/experience/outdoors.webp"
          alt="outdoors"
          class="experience-item-img experience-img-six"
        />
      </li>
      <li class="experience-list-item">
        <img
          src="./img/experience/takeaway.webp"
          alt="takeaway"
          class="experience-item-img experience-img-seven"
        />
      </li>
    </ul>
  </div>
</section>