<section class="experience" id="experience">
  <div class="container">
    <h2 class="experience-title">Coffee Moments</h2>
    <p class="experience-text">
      Experience the warmth and community of CoffeeJoy.
    </p>
    <ul class="experience-list">
      <il class="experience-item"></il>
      <il class="experience-item"></il>
      <il class="experience-item"></il>
      <il class="experience-item"></il>
      <il class="experience-item"></il>
      <il class="experience-item"></il>
      <il class="experience-item"></il>
    </ul>
  </div>
</section>
