<link rel="stylesheet" href="../scss/section/_first-modal.scss">
<div class="backdrop" id="modal">
  <div class="modal">
    <button class="close-btn" id="closeModalBtn">&times;</button>
    <p class="modal-text">
      Привіт!<br>
      Ви потрапили на сайт інтерактивних ігор та завдань<br>
      Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br>
      Бажаємо Вам гарно провести час!
    </p>
    <form class="modal-form">
      <label for="username">Введіть своє ім’я:</label>
      <input type="text" id="username" placeholder="Ваше ім’я...">
      <button type="submit">Зберегти</button>
    </form>
  </div>
</div>

<script src="../js/first-modal.js"></script>
