<link rel="stylesheet" href="./scss/section/_first-modal.scss">
<section class="register">
    <div class="register__container">
        <p class="register__text">
            Привіт!<br>
            Ви потрапили на сайт інтерактивних ігор та завдань.<br>
            Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br>
            Бажаємо Вам гарно провести час!
        </p>
    <div class="register__box">
   
        <label for="username" class="register__label">Введіть своє ім’я:</label>
        <input type="text" id="username" class="register__input"  placeholder="Ваше ім’я..." required>
<button type="submit" class="register__button">Зберегти</button>
    </div>
    </div>
    <div class="register__backdrop"></div>
    <button class="register__close">&times;</button>
</div>
</section>
<script src="./js/first-modal.js"></script>

