<footer>
  <div class="container footer-container">
    <svg class="footer-logo" width="64" height="36">
      <use href="../img/spite.svg#icon-logo-footer"></use>
    </svg>

    <div class="footer-social">
      <ul class="icon-footer">
        <li class="icon-item">
          <a href=" https://www.facebook.com/" target="_blank">
            <svg class="footer-icon" width="24" height="24">
              <use href="../img/spite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="icon-item">
          <a href="https://www.instagram.com/" target="_blank">
            <svg class="footer-icon" width="24" height="24">
              <use href="../img/spite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="icon-item">
          <a href="https://x.com/" target="_blank">
            <svg class="footer-icon" width="24" height="24">
              <use href="../img/spite.svg#icon-x"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-menu">
      <ul class="footer-list">
        <li class="footer-item">
          <a href="#about-us" class="footer-link"></a>About us
        </li>
        <li class="footer-item">
          <a href="#benefits" class="footer-link"></a>Benefits
        </li>
        <li class="footer-item">
          <a href="#gallery" class="footer-link"></a>Gallery
        </li>
        <li class="footer-item">
          <a href="#testimonial" class="footer-link"></a>Testimonial
        </li>
        <li class="footer-item">
          <a href="#location" class="footer-link"></a>Location
        </li>
      </ul>
    </div>
  </div>

  <p class="text-credits">&#169;2025 CoffeeJoy. All rights reserved.</p>
</footer>
