<footer class="footer">
    <div class="container">
        <a href="./index.html" class="footer__logo">
            <img class="footer__logo-img" src="./img/logo.png" alt="logo">
        </a>


        <ul class="footer__items">
            <li class="footer__item">
                <a href="tel:+381234567890" class="footer__item-social">Тел: +38 (123) 456 78 90</a>
            </li>
            <li class="footer__item">
                <a href="mailto:codingmagic@gmail.com" class="footer__item-social">E-Mail: codingmagic@gmail.com</a>
            </li>
            <li class="footer__item">
                <a href="https://facebook.com/CodingMagic" target="_blank" class="footer__item-social">Facebook:
                    CodingMagic</a>
            </li>
            <li class="footer__item">
                <a href="https://twitter.com/CodingMagic" target="_blank" class="footer__item-social">Twitter:
                    CodingMagic</a>
            </li>
            <li class="footer__item">
                <a href="https://instagram.com/CodingMagic" target="_blank" class="footer__item-social">Instagram:
                    CodingMagic</a>
            </li>
        </ul>


        <div class="footer__box">
            <form action="#" method="post" class="footer__box-form">
                <input type="email" class="footer__box-input" placeholder="Ваша ел. адреса..." required>
                <button type="submit" class="footer__box-btn">Підписатись</button>
            </form>
            <p class="footer__box-text">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
        </div>
    </div>
</footer>