<header>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio
  repudiandae expedita sequi perferendis repellendus. Quae architecto, quo
  ratione ipsam maiores quia exercitationem id adipisci ullam, quam asperiores,
  praesentium explicabo similique. Tempore at incidunt voluptatum a nobis
  veniam, doloribus illo sapiente odio laboriosam molestias iure exercitationem
  quam nulla soluta adipisci, animi aspernatur deserunt tempora dolor tenetur
  saepe itaque, beatae nihil! Error? Accusantium esse quae adipisci! Possimus
  impedit fugit minima dolorum, velit explicabo, reiciendis sit tenetur commodi
  aspernatur dignissimos blanditiis molestias, sequi autem! Fugiat maxime sequi
  exercitationem voluptate. Blanditiis ad magni quo. Voluptatibus molestias
  quisquam vel tempora sint aperiam facilis itaque nostrum! Autem nam cupiditate
  harum architecto, quia fugit alias rerum. Nobis omnis assumenda deserunt velit
  magnam minima consectetur, ad nesciunt in. Doloribus provident laborum
  exercitationem magnam assumenda itaque commodi. Iusto ad neque error facere
  sequi nobis voluptas, obcaecati qui excepturi culpa minus eum optio, ipsum
  esse in aperiam corrupti laborum veniam! Amet dolore voluptate praesentium
  animi. Sunt voluptates iure quae sapiente similique! Ipsum libero quibusdam
  provident quam adipisci odio nihil corrupti quod, cum voluptates totam
  veritatis quidem sunt! Explicabo, minus velit. Vitae iste culpa, aliquid
  cupiditate nobis consectetur rerum totam cum enim, distinctio earum est?
  Eligendi esse necessitatibus quisquam magni unde eos animi hic veniam. Ut
  sequi ad laudantium molestiae rerum. Tempora quo excepturi similique magni
  dolores, illo dolorum sed dicta autem ea sit obcaecati quis minima vero
  voluptate quam consequatur saepe incidunt odio modi laudantium quod ipsam
  nihil. Vel, doloribus. Aut doloremque mollitia fuga libero eligendi sunt unde
  officiis consectetur harum illum assumenda commodi a sit totam ducimus id,
  quasi sapiente animi maxime veniam ex illo quod molestias? Obcaecati, quo!
  Dolor vero, sit qui corporis asperiores non aperiam tempore natus accusantium
  nemo? Blanditiis impedit laborum modi minus et rerum, dolores atque ipsam
  exercitationem. Sunt rem rerum nam ut, ad tenetur?
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis,
    voluptates reiciendis accusamus delectus natus dolor, optio quo voluptatem
    neque minima accusantium! Deserunt laborum nisi delectus deleniti
    reprehenderit error assumenda quae?
  </p>
</header>
