<header class="header">
  <div class="header-wrapper container">
    <a href="" class="header-logo">
      <svg class="header-logo-icon" width="84" height="36">
        <use href="/images.svg#icon-logo"></use>
      </svg>
    </a>

    <!-- btn menu -->
    <button
      class="mobile-menu-btn"
      type="button"
      aria-label="Mobile menu button"
    >
      <svg class="mobile-menu-icon" width="24" height="24">
        <use href="/images.svg#icon-menu"></use>
      </svg>
    </button>

    <!-- btn close -->
    <!-- <button class="mobile-close-btn">
      <svg class="mobile-close-icon" width="24" height="24">
        <use href="/images.svg#icon-close-btn"></use>
      </svg>
    </button> -->

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item"><a href="#about">About us</a></li>
        <li class="header-nav-item"><a href="#benefits">Benefits</a></li>
        <li class="header-nav-item"><a href="#gallery">Gallery</a></li>
        <li class="header-nav-item"><a href="#testimonials">Testimonial</a></li>
        <li class="header-nav-item"><a href="#location">Location</a></li>
      </ul>
    </nav>
  </div>
</header>
