<section class="location">
    <div class="location-container container">
    <p class="list-title">Find</p>
    <h2 class="main-location-title">Location</h2>
    <p>Visit us at our cozy coffee shop!</p>
    <div class="location-info">
        <div class="all-location-list">
        <ul  class="location-item">
            <li class="location-list">
                <span class="location-icons"> <svg> </svg> </span>
                <h3 class="list-title"> Email </h3>
                <a class="location-link"> hello@coffeejoy.com </a>
            </li>
            <li class="location-list">
                <span class="location-icons"> <svg> </svg> </span>
                <h3 class="list-title"> Phone </h3>
                <a class="location-link"> +1 (555) 123-5321 </a>
            </li>
            <li class="location-list">
                <span class="location-icons"> <svg> </svg> </span>
                <h3 class="list-title"> Office </h3>
                <adress> 263 Newbury St, Boston, MA 02116, USA </adress>
                <a> Get Directions </a>
            </li>
        </ul>
        </div>

        <div></div>
    </div>
    </div>
    
</section>