<section class="section location-section" id="location">
  <div class="container container-location">
    <div class="location-header">
      <p class="location-pretitle">Find</p>
      <div class="loc-info">
        <h2 class="location-title">LOCATION</h2>
        <p class="main-location-text">Visit us at our cozy coffee shop!</p>
      </div>

      <div class="location-wrapper">
        <div class="location-contacts">
          <ul class="contact-list">
            <li class="contact-item">
              <span class="contact-icon">
                <svg width="32" height="32">
                  <use href="./img/spite.svg#icon-email"></use>
                </svg>
              </span>
              <h3 class="list-title">EMAIL</h3>
              <a class="location-link" href="mailto:hello@coffeejoy.com">
                hello@coffeejoy.com
              </a>
            </li>
            <li class="location-list">
              <span class="location-icons">
                <svg width="32" height="32">
                  <use href="./img/spite.svg#icon-phone"></use>
                </svg>
              </span>
              <h3 class="list-title">PHONE</h3>
              <a class="location-link" href="tel:+15551235321">
                +1 (555) 123-5321
              </a>
            </li>
            <li class="location-list">
              <span class="location-icons">
                <svg width="32" height="32">
                  <use href="./img/spite.svg#icon-office"></use>
                </svg>
              </span>
              <h3 class="list-title">OFFICE</h3>
              <address class="adress-text">
                263 Newbury St, Boston, MA 02116, USA
              </address>
              <div class="directions-wrapper">
                <a
                  class="directions"
                  href="https://maps.app.goo.gl/PYKhRwy8vq96Xokr9"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Google Maps location link"
                >
                  Get Directions
                </a>
                <svg class="arrow" width="24" height="24">
                  <use href="./img/spite.svg#icon-arrow"></use>
                </svg>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="location-map">
      <iframe
        class="iframe"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.6691136191894!2d-71.08594152406955!3d42.34957747119387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a0f084cda31%3A0x2c61033530218739!2zMjYzIE5ld2J1cnkgU3QsIEJvc3RvbiwgTUEgMDIxMTYsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2sua!4v1754053506608!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
