<section class="location-section" id="location">
  <div class="container">
    <div class="location-header">
      <p class="location-pretitle">Find</p>
      <h2 class="location-title">LOCATION</h2>
      <p class="location-description">Visit us at our cozy coffee shop!</p>
    </div>

    <div class="location-wrapper">
      <div class="location-contacts">
        <ul class="contact-list">
          <li class="contact-item">
            <span class="contact-icon">
              <svg class="icon" width="24" height="24">
                <use href="#"></use>
              </svg>
            </span>
            <div class="contact-info">
              <h3 class="contact-label">Email</h3>
              <a href="mailto:hello@coffeejoy.com" class="contact-link"
                >hello@coffeejoy.com</a
              >
            </div>
          </li>

          <li class="contact-item">
            <span class="contact-icon">
              <svg class="icon" width="24" height="24">
                <use href="#"></use>
              </svg>
            </span>
            <div class="contact-info">
              <h3 class="contact-label">Phone</h3>
              <a href="tel:+15551235321" class="contact-link"
                >+1 (555) 123-5321</a
              >
            </div>
          </li>

          <li class="contact-item">
            <span class="contact-icon">
              <svg class="icon" width="24" height="24">
                <use href="#"></use>
              </svg>
            </span>
            <div class="contact-info">
              <h3 class="contact-label">Office</h3>
              <address class="contact-address">
                263 Newbury St, Boston, MA 02116, USA
              </address>
              <a href="#" class="contact-link" target="_blank">
                Get Directions
                <svg class="icon-arrow" width="16" height="16">
                  <use href="#"></use>
                </svg>
              </a>
            </div>
          </li>
        </ul>
      </div>

      <div class="location-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.668927640898!2d-71.08594152347933!3d42.349581435762865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a0f084cda31%3A0x2c61033530218739!2zMjYzIE5ld2J1cnkgU3QsIEJvc3RvbiwgTUEgMDIxMTYsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2sua!4v1753990431444!5m2!1suk!2sua"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
