<section class="numbers" id="number">
    <div class="container">
      <div class="numbers__border"></div>
      <h2 class="numbers__logo">Введіть 3 числа</h2>
      <ul class="numbers__list">
        <li class="numbers__item">
          <input type="text" class="numbers__input" id="imp1" placeholder="Введіть число" />
        </li>
        <li class="numbers__item">
          <input type="text" class="numbers__input" id="imp2"  placeholder="Введіть число" />
        </li>
        <li class="numbers__item">
          <input type="text" class="numbers__input" id="imp3" placeholder="Введіть число" />
        </li>
      </ul>
      <div class="numbers__fix">
        <p class="numbers__text">Найбільше число, яке ви ввели -  </p>
        <p class="numbers__num" id="result223">  </p>
      </div>
      <div class="numbers__border"></div>
    </div>
  </section>