<section class="mobile-menu">
  <div class="mobile-div">
    <svg class="footer-logo" width="64" height="36">
      <use href="./img/spite.svg#icon-logo-footer"></use>
    </svg>
    <button>Closing sign</button>
  </div>
  <div class="mobile-div-sec">
    <ul class="mobile-list">
      <li class="mobile-item"><a href="">About us</a></li>
      <li class="mobile-item"><a href="">Benefits</a></li>
      <li class="mobile-item"><a href="">Gallery</a></li>
      <li class="mobile-item"><a href="">Testimonial</a></li>
      <li class="mobile-item"><a href="">Location</a></li>
    </ul>
  </div>
</section>
