<section class="mobile-menu-header">
  <div class="mobile-menu-nav">
    <div class="mobile-menu-nav-sec">
      <div class="mobile-menu-nav-thr">
        <svg class="closing-icon" width="64" height="36">
          <use href="./img/spite.svg#icon-logo-footer"></use>
        </svg>
        <button type="button" class="mobile-button">
          <svg class="button-icon" width="24" height="24">
            <use href="./img/spite.svg#loscing-icon"></use>
          </svg>
        </button>
      </div>
      <ul class="mobile-list">
        <li class="mobile-item"><a href="#about-us">About us</a></li>
        <li class="mobile-item"><a href="#benefits">Benefits</a></li>
        <li class="mobile-item"><a href="#gallery">Gallery</a></li>
        <li class="mobile-item"><a href="#testimonial">Testimonial</a></li>
        <li class="mobile-item"><a href="#location">Location</a></li>
      </ul>
    </div>
  </div>
</section>
