<section class="bonusmodal-section">
  <div class="modal-container">
    <button class="close-btn-x" type="button">
      <svg class="icon-close" width="32" height="32">
        <use href="./img/spite.svg#icon-close-bonus"></use>
      </svg>
    </button>
    <div class="modal-wrapper">
      <h2 class="modal-title">Welcome to the world of CoffeeJoy!</h2>
      <p class="modal-description">
        Fresh brews, special offers, and cozy updates are coming your way.
      </p>
      <img
        class="modal-image-table"
        src="./img/bonus-modal/bonusmodalimg2x.jpg"
        alt="Decorative background"
      />
      <img
        class="modal-image"
        src="./img/bonus-modal/cofeemodal.jpg"
        alt="Envelope with a coffee cup and a cozy mood"
      />
      <button class="close-btn" type="button">Close</button>
    </div>
  </div>
</section>
