<section class="paper">
    <div class="container">
        <h2 class="paper__title">Камінь - ножиці - папір</h2>

        <ul class="paper__items">
            <li class="paper__item">
                <button class="paper__item-btn">
                    <img src="./img/stone.png" alt="" class="paper__img">
                </button>
            </li>
            <li class="paper__item">
                <button class="paper__item-btn">
                    <img src="./img/scissors.png" alt="" class="paper__img">
                </button>
            </li>
            <li class="paper__item">
                <button class="paper__item-btn">
                    <img src="./img/paper.png" alt="" class="paper__img">
                </button>
            </li>
        </ul>

        <p class="paper_win-lost">Виберіть варіант!</p>

        <div class="paper__btn-box">
            <button class="paper__btn">Варіант комп’ютера</button>

            <p class="paper__btn-variant">Комп'ютер загадав - <span class="paper__variant-span">###</span></p>
        </div>

        <p class="paper__score">
            Рахунок:<br>
            Комп’ютер - <span class="paper__score-pc">0</span><br>
            Ви - <span class="paper__score-you">0</span></p>
    </div>
</section>