<section class="quality" id="quality">
  <div class="container quality-container">
    <p class="name-section-quality">Quality</p>
    <h2 class="quality-header">Why CoffeeJoy Stands Out from the Rest</h2>
    <p class="main-discription-quality">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted
      coffee, crafted with care by our skilled baristas. Our flexible
      subscription plans ensure that your coffee experience is tailored to your
      needs.
    </p>
    <ul class="quality-list">
      <li class="quality-list-item">
        <div class="quality-wrapper">
          <picture class="quality-img-set">
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/mobile/quality1-phone@1x.png 1x,
                ../img/mobile/quality1-phone@2x.png 2x
              "
            />
            <source
              media="(max-width: 1139px)"
              srcset="
                ../img/tabelet/quality1-tablet@1x-min.png 1x,
                ../img/tabelet/quality1-tablet@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 1140px)"
              srcset="
                ../img/desktop/quality1-desktop@1x-min.png 1x,
                ../img/desktop/quality1-desktop@2x-min.png 2x
              "
            />
            <img
              class="quality-img"
              src="../img/desktop/quality1-desktop-min.png"
              alt="Fresh-Roasted Coffee"
            />
          </picture>
          <div class="quality-thumb">
            <h3 class="name-quality">Fresh-Roasted Coffee for Every Taste</h3>
            <p class="discription-quality">
              Savor the rich flavors of our expertly sourced beans.
            </p>
          </div>
        </div>
      </li>
      <li class="quality-list-item">
        <div class="quality-wrapper">
          <picture class="quality-img-set">
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/mobile/quality2-phone@1x.png 1x,
                ../img/mobile/quality2-phone@2x.png 2x
              "
            />
            <source
              media="(max-width: 1139px)"
              srcset="
                ../img/tabelet/quality2-tablet@1x-min.png 1x,
                ../img/tabelet/quality2-tablet@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 1140px)"
              srcset="
                ../img/desktop/quality2-desktop@1x-min.png 1x,
                ../img/desktop/quality2-desktop@2x-min.png 2x
              "
            />
            <img
              class="quality-img"
              src="../img/desktop/quality2-desktop-min.png"
              alt="Expert Baristas"
            />
          </picture>
          <div class="quality-thumb">
            <h3 class="name-quality">
              Expert Baristas Crafting Your Perfect Brew
            </h3>
            <p class="discription-quality">
              Our baristas are passionate about coffee and skilled in their
              craft.
            </p>
          </div>
        </div>
      </li>
      <li class="quality-list-item">
        <div class="quality-wrapper">
          <picture class="quality-img-set">
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/mobile/quality3-phone@1x.png 1x,
                ../img/mobile/quality3-phone@2x.png 2x
              "
            />
            <source
              media="(max-width: 1139px)"
              srcset="
                ../img/tabelet/quality3-tablet@1x-min.png 1x,
                ../img/tabelet/quality3-tablet@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 1140px)"
              srcset="
                ../img/desktop/quality3-desktop@1x-min.png 1x,
                ../img/desktop/quality3-desktop@2x-min.png 2x
              "
            />
            <img
              class="quality-img"
              src="../img/desktop/quality3-desktop-min.png"
              alt="Cozy Atmosphere"
            />
          </picture>
          <div class="quality-thumb">
            <h3 class="name-quality">Cozy Atmosphere</h3>
            <p class="discription-quality">
              We dont&#8217;t just serve coffee — we create a warm and welcoming
              space where every cup feels like home.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
