<section class="quality" id="quality">
  <p>Quality</p>
  <h2>Why CoffeeJoy Stands Out from the Rest</h2>
  <p>
    At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee,
    crafted with care by our skilled baristas. Our flexible subscription plans
    ensure that your coffee experience is tailored to your needs.
  </p>
  <ul class="quality-list">
    <li class="quality-list-item">
      <picture>
        <source media="#" srcset="#" />
        <source media="#" srcset="#" />
        <source media="#" srcset="#" />
        <img class="quality-img-1" src="#" alt="Fresh-Roasted Coffee" />
      </picture>
      <h3 class="name-quality">Fresh-Roasted Coffee for Every Taste</h3>
      <p class="discription">
        Savor the rich flavors of our expertly sourced beans.
      </p>
    </li>
    <li class="quality-list-item">
      <picture>
        <source media="#" srcset="#" />
        <source media="#" srcset="#" />
        <source media="#" srcset="#" />
        <img class="quality-img-2" src="#" alt="Expert Baristas" />
      </picture>
      <h3 class="name-quality">Expert Baristas Crafting Your Perfect Brew</h3>
      <p class="discription">
        Our baristas are passionate about coffee and skilled in their craft.
      </p>
    </li>
    <li class="quality-list-item">
      <picture>
        <source media="#" srcset="#" />
        <source media="#" srcset="#" />
        <source media="#" srcset="#" />
        <img class="quality-img-3" src="#" alt="Cozy Atmosphere" />
      </picture>
      <h3 class="name-quality">Cozy Atmosphere</h3>
      <p class="discription">
        We do n&#8217;t just serve coffee — we create a warm and welcoming space
        where every cup feels like home.
      </p>
    </li>
  </ul>
</section>
