<section class=" section-quality">
    <div class="container">
        <p class="quality-label">Quality</p>
        <h2 class="section-title">Why CoffeeJoy Stands Out from the Rest</h2>
        <p class="section-description">At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee, crafted with care by our skilled baristas. Our flexible subscription plans ensure that your coffee experience is tailored to your needs.</p>
        <ul class="quality-list">
            <li class="quality-item">
                <picture>
                    <source srcset="../img/quality/desktop/beans-desktop.webp 1x, ../img/quality/desktop/beans-desktop@2x.webp 2x"
                            media="(min-width: 1440px)">
                    <img src="../img/quality/desktop/beans-desktop.webp"
                         alt="Fresh roasted coffee beans"
                         width="421" height="240">
                </picture>
                <h3 class="quality-item-title">Fresh-Roasted Coffee for Every Taste</h3>
                <p class="quality-item-text">Savor the rich flavors of our expertly sourced beans.</p>
            </li>
            <li class="quality-item">
                <picture>
                    <source srcset="../img/quality/desktop/barista-desktop.webp 1x, ../img/quality/desktop/barista-desktop@2x.webp 2x"
                            media="(min-width: 1440px)">
                    <img src="../img/quality/desktop/barista-desktop.webp"
                         alt="A focused barista in a modern coffee"
                         width="421" height="240">
                </picture>
                <h3 class="quality-item-title">Expert Baristas Crafting Your Perfect Brew</h3>
                <p class="quality-item-text">Our baristas are passionate about coffee and skilled in their craft.</p>
            </li>
            <li  class="quality-item">
                <picture>
                    <source srcset="../img/quality/desktop/cozy-desktop.webp 1x, ../img/quality/desktop/cozy-desktop@2x.webp 2x"
                            media="(min-width: 1440px)">
                    <img src="../img/quality/desktop/cozy-desktop.webp"
                         alt="Welcoming coffee shop interior scene"
                         width="421" height="240">
                </picture>
                <h3 class="quality-item-title">Cozy Atmosphere</h3>
                <p class="quality-item-text">We don't just serve coffee — we create a warm and welcoming space where every cup feels like home.</p>
            </li>
        </ul>
    </div>
</section>