<section class="subscribe">
  <div class="container subscribe-container">
    <div class="first-wrapper">
      <h2 class="subscribe-title">Join Our Coffee Community</h2>
      <p class="subscribe-text">
        Experience the joy of coffee delivered right to your door. Sign up
        today!
      </p>

      <form class="subscribe-form" action="#" method="post">
        <div class="input-wrapper">
          <input
            type="email"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            class="subscribe-input"
            id="subscribe-input"
            placeholder="Your Email Here"
            required
          />
          <span class="error-text" id="errorText">Error Text</span>
        </div>
        <button type="submit" class="subscribe-button">
          Subscribe

          <svg
            width="24"
            height="24"
            viewBox="0 0 31 32"
            aria-hidden="true"
            class="subscribe-svg"
          >
            <path
              fill="#fff"
              d="m13.179 10.063 5.536 5.491-5.536 5.491 1.802 1.818 7.369-7.309-7.369-7.309-1.802 1.818z"
            />
            <path
              fill="#fff"
              d="m8.581 8.246-1.802 1.818 5.536 5.491-5.536 5.491 1.802 1.818 7.369-7.309-7.369-7.309z"
            />
          </svg>
        </button>
        <label for="subscribe-input" class="subscribe-label">
          By clicking Get Started, you agree to our Terms and Conditions.
        </label>
      </form>
    </div>
    <div class="second-wrapper">
      <picture class="subscribe-picture">
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/subscribe/mobile-img-1x.webp 1x,
            ./img/subscribe/mobile-img-2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            ./img/subscribe/tablet-img-1x.webp 1x,
            ./img/subscribe/tablet-img-2x.webp 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/subscribe/normal-img-1x.webp 1x,
            ./img/subscribe/normal-img-2x.webp 2x
          "
        />

        <img
          class="subscribe-image"
          src="./img/subscribe/mobile-img-1x.jpg"
          alt="Coffee Community"
        />
      </picture>
    </div>
  </div>
</section>
