<section class="subscribe-section">
  <div class="subscribe-container">
    <h2 class="subscribe-title">JOIN OUR COFFEE COMMUNITY</h2>
    <p class="subscribe-section-text">
      Experience the joy of coffee delivered right to your door. Sign up today!
    </p>
    <picture class="subscribe-container-picture">
      <img
        src="../img/desktop/subscribe-img-desktop-min.png"
        alt="subscribe-picture"
      />
    </picture>
    <form class="subscribe-form">
      <input
        class="subscribe-input"
        name="email"
        id="email"
        type="email"
        placeholder="Your Email Here"
        required
      />
      <button class="subscribe-button" type="submit">
        Subscribe
        <svg class="subscribe-button-icon" width="24" height="24">
          <use href="../img/images.svg#icon-chevrons-right"></use>
        </svg>
      </button>
      <label for="email"
        >By clicking Get Started, you agree to our Terms and Conditions</label
      >
    </form>
  </div>
</section>
