<h2>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam saepe maiores
  deleniti dolorum explicabo ex expedita voluptatem dolores quo. Error eaque
  tempore fuga facilis amet laudantium qui numquam labore dolorem!
</h2>

<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat aliquam,
  temporibus earum maiores deserunt consequuntur tempore quidem, alias
  accusantium asperiores velit repellat nesciunt ipsum sed architecto, eos
  fugiat. Impedit, distinctio.
</p>
