<section id="subscription" class="subscribe-section hide">
  <div class="container subscription-container">
    <div class="subscription-btn-close-wrapper">
      <button class="subscription-btn-close">
        <svg class="subscription-close-icon" width="32" height="32">
          <use href="/images.svg#"></use>
        </svg>
      </button>
    </div>
    <div class="subscription-content-wrapper">
      <h2 class="subscription-title">Welcome to the world of CoffeeJoy!</h2>
      <p class="subscription-text">
        Fresh brews, special offers, and cozy updates are coming your way.
      </p>
    </div>
    <img
      class="subscription-img"
      src="./img/mobile/bonus-phone.png"
      alt="Image of cap of coffe and croissant and sweet-letter on table"
    />
    <button class="subscription-big-btn-close">
      <span class="subscription-btn-close-txt">Close</span>
    </button>
  </div>
</section>
