<section id="subscription" class="subscription-section is-open">
  <div class="container subscription-container">
    <div class="subscription-btn-close-wrapper">
      <button class="subscription-btn-close">
        <svg class="subscription-close-icon" width="16" height="16">
          <use href="/images.svg#subscription-close-icon"></use>
        </svg>
      </button>
    </div>
    <div class="subscription-content-wrapper">
      <h2 class="subscription-title">Welcome to the world of CoffeeJoy!</h2>
      <p class="subscription-text">
        Fresh brews, special offers, and cozy updates are coming your way.
      </p>
    </div>

    <picture>
      <source
        media="(min-width:1440px)"
        srcset="
          ./img/desktop/bonus-desktop@1x.png 1x,
          ./img/desktop/bonus-desktop@2x.png 2x
        "
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./img/tabelet/bonus-tablet@1x.png 1x,
          ./img/tabelet/bonus-tablet@2x.png 2x
        "
      />
      <source
        media="(max-width:767px)"
        srcset="
          ./img/mobile/bonus-phone@1x.png 1x,
          ./img/mobile/bonus-phone@2x.png 2x
        "
      />

      <img
        class="subscription-img"
        width="256"
        height="200"
        src="./img/desktop/bonus-desktop@1x.png"
        alt="Image of cap of coffe and croissant and sweet-letter on table"
      />
    </picture>

    <button class="subscription-big-btn-close">
      <span class="subscription-btn-close-txt">Close</span>
    </button>
  </div>
</section>
