<section class="team">
    <div class="container">
        <h2 class="team__title">Наша команда</h2>

        <div class="team__box">

            <ul class="team__items">
                <li class="team__item">
                    <img src="#" alt="Фото Давід Каштанов" class="team__img">
                    <h3 class="team__name">Давід Каштанов</h3>
                    <p class="team__text">Lorem ipsum dolor sit amet.</p>
                </li>
                <li class="team__item">
                    <img src="#" alt="Фото Гетун Антон" class="team__img">
                    <h3 class="team__name">Гетун Антон</h3>
                    <p class="team__text">Lorem ipsum dolor sit amet.</p>
                </li>
                <li class="team__item">
                    <img src="#" alt="Фото Дар'я Пасічник" class="team__img">
                    <h3 class="team__name">Дар'я Пасічник</h3>
                    <p class="team__text">Lorem ipsum dolor sit amet.</p>
                </li>
                <li class="team__item">
                    <img src="#" alt="Фото Олександр Лихогляд" class="team__img">
                    <h3 class="team__name">Олександр Лихогляд</h3>
                    <p class="team__text">Lorem ipsum dolor sit amet.</p>
                </li>
            </ul>

            <button class="team__btn team__prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="52" height="102" viewBox="0 0 52 102" fill="none">
                    <path d="M51 1L1 51L51 101" stroke="black" />
                </svg>
            </button>
            <button class="team__btn team__next">
                <svg xmlns="http://www.w3.org/2000/svg" width="52" height="102" viewBox="0 0 52 102" fill="none">
                    <path d="M1 1L51 51L1 101" stroke="black" />
                </svg>
            </button>
        </div>
    </div>
</section>