<section id="testimonial">
  <h2 class="feedback-title">What our visitors say</h2>
  <ul class="feedback-list">
    <li class="feedback-item">
      <div class="feedback-stars">
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
      </div>
      <p class="feedback-stars-text">
        "Every cup feels like a warm hug! I&rsquo;m addicted to their seasonal
        flavors!"
      </p>
      <p class="feedback-stars name">Name Surname</p>
    </li>
    <li class="feedback-item">
      <div class="feedback-stars">
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
      </div>
      <p class="feedback-stars-text">
        "CoffeeJoy is my go-to place for a perfect cup of coffee! The ambiance
        is so inviting, and the baristas are always friendly."
      </p>
      <p class="feedback-stars name">Alice Johnson</p>
    </li>
    <li class="feedback-item">
      <div class="feedback-stars">
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-white" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
      </div>
      <p class="feedback-stars-text">
        "I love the variety of blends offered at CoffeeJoy. Every visit feels
        like a new experience!"
      </p>
      <p class="feedback-stars name">Michael Smith</p>
    </li>
    <li class="feedback-item">
      <div class="feedback-stars">
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-white" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
      </div>
      <p class="feedback-stars-text">
        "The pastries are to die for! I can&rsquo;t resist pairing them with my
        favorite latte. Highly recommend this spot!"
      </p>
      <p class="feedback-stars name">Emily Davis</p>
    </li>
    <li class="feedback-item">
      <div class="feedback-stars">
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
      </div>
      <p class="feedback-stars-text">
        "A cozy little gem! CoffeeJoy has the best cold brew in town. I come
        here every weekend!"
      </p>
      <p class="feedback-stars name">James Brown</p>
    </li>
    <li class="feedback-item">
      <div class="feedback-stars">
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-feedback-stars-white" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-white" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
      </div>
      <p class="feedback-stars-text">
        "The atmosphere is perfect for working or relaxing with friends. Their
        Wi-Fi is fast too!"
      </p>
      <p class="feedback-stars name">Sarah Wilson</p>
    </li>
    <li class="feedback-item">
      <div class="feedback-stars">
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-white" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
      </div>
      <p class="feedback-stars-text">
        "I&rsquo;;m addicted to their seasonal flavors! Each one is crafted with
        such care and creativity."
      </p>
      <p class="feedback-stars name">Chris Lee</p>
    </li>
    <li class="feedback-item">
      <div class="feedback-stars">
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-icon" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
        <svg class="feedback-stars-white" width="20" height="19">
          <use href="../img/images.svg#icon-balsck-star"></use>
        </svg>
      </div>
      <p class="feedback-stars-text">
        "I appreciate how they source their coffee beans sustainably. It's great
        to support such an ethical business!"
      </p>
      <p class="feedback-stars name">Patricia Taylor</p>
    </li>
  </ul>
</section>
