<section>
    <p>Welcome</p>
    <h2>Our Journey: Passion for Quality Coffee</h2>
    <p>At CoffeeJoy, we believe that every cup tells a story. Our mission is to bring you the finest coffee experiences,
        crafted with care and dedication. We are committed to sourcing high-quality beans and roasting them to
        perfection,
        ensuring each sip is a delight.</p>
    <button type="button">Find location
        <svg width="24" height="24">
            <use href="#"></use>
        </svg>
    </button>
    <picture>
        <source media="(min-width: 1440px)"
            srcset="../img/welcome-img/welcome-brewcoffe.jpg 1x, ../img/welcome-img/welcome-brewcoffe@2x.jpg 2x, ../img/welcome-img/welcome-brewcoffe@3x.jpg 3x" />
        <source media="(min-width: 768px)"
            srcset="../img/welcome-img/welcome-brewcoffe.jpg 1x, ../img/welcome-img/welcome-brewcoffe@2x.jpg 2x, ../img/welcome-img/welcome-brewcoffe@3x.jpg 3x" />
        <source media="(max-width: 767.98px)"
            srcset="../img/welcome-img/welcome-brewcoffe.jpg 1x, ../img/welcome-img/welcome-brewcoffe@2x.jpg 2x, ../img/welcome-img/welcome-brewcoffe@3x.jpg 3x" />
        <img src="../img/welcome-brewcoffe.jpg" alt="to brew coffee" />
    </picture>
</section>