* {
  box-sizing: border-box;
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 1312px;
  }
}
