.header {
  background-color: #e0cbb4;
  padding: 0 64px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
}

.header-logo {
}

.header-logo-icon {
  fill: #0b0803;
}

.mobile-menu-btn {
  padding: 0;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.mobile-menu-icon {
  fill: #0b0803;
}

.header-nav {
}

.header-nav-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
}

.header-nav-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
}
