.header {
  background-color: #e0cbb4;
  position: sticky;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
}

.header-logo-icon {
  fill: #0b0803;
}

.mobile-menu-btn {
  padding: 0;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 48px;
  height: 48px;
}

.mobile-menu-icon {
  fill: #0b0803;
}

@media only screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.mobile-menu-list .header-nav-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
}

/* Start of tablet and desctop resolution */

@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 32px;

    width: 456px;
    height: 24px;
  }
}

/* 
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
} */
