.hero {
  display: flex;
  align-items: center;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 64px 32px;
  min-height: 644px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    image-set(
      url(../img/mobile/hero-phone@1x.jpg) 1x,
      url(../img/mobile/hero-phone@2x.jpg) 2x
    );
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/mobile/hero-phone@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    min-height: 900px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      image-set(
        url(../img/tabelet/hero-tabelet@1x-min.jpg) 1x,
        url(../img/tabelet/hero-tabelet@2x-min.jpg) 2x
      );
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/tabelet/hero-tabelet@2x-1-min.jpg);
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      image-set(
        url(../img/desktop/hero-desktop@1x-min.jpg) 1x,
        url(../img/desktop/hero-desktop@2x-min.jpg) 2x
      );
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/desktop/hero-desktop@2x-min.jpg);
  }
}

.hero .container {
  flex-basis: 100%;
}

@media only screen and (min-width: 768px) {
  .hero .container {
    max-width: 704px;
    padding: 311px 0;
  }
}

@media only screen and (min-width: 1440px) {
  .hero .container {
    max-width: 1312px;
    padding: 259px 32px;
    margin: 0;
  }
}

.hero-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 560px;
}

.hero-title {
  font-weight: 400;
  font-family: 'Aboreto', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-bottom: 0;
}
@media only screen and (min-width: 1440px) {
  .hero-title {
    font-size: 56px;
  }
}

.hero-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 0;
}

.hero-wrapper-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 8px;
}

.hero-button {
  font-family: 'Quicksand', sans-serif;
  border-radius: 100px;
  padding: 10px 24px;

  height: 44px;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;

  color: #ffffff;
  border: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  opacity: 0.5;
}

.hero-button:active {
  background-color: #6f4e37;
  box-shadow: none;
  opacity: 1;
}
