.hero-container {
  background-image: linear-gradient(rgba(0 0 0 / 50%)),
    url(../img/hero/hero-bg.jpg);
  overflow: hidden;
  object-fit: cover;
  padding-bottom: 109px;
  padding-top: 109px;
  background-position: center;
  background-size: cover;
  height: 644px;
}

.hero-container .container {
  max-width: 320px;
  padding-left: 32px;
  padding-right: 32px;
}

.hero-name {
  font-family: 'Aboreto', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #fff;
}

.hero-text {
  font-size: 18px;
  color: #fff;
  margin-top: 24px;
  width: 256px;
}

.hero-btn {
  display: inline-block;
  width: 135px;
  height: 44px;
  background-color: #6f4e37;
  border-radius: 100px;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 24px;
  margin-top: 32px;
  box-shadow: 0 1px 2px 0 rgba(255 255 255 / 5%),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11 8 3 / 15%),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(11 8 3 / 5%);
}
