.our-location {
  background-color: #e0cbb4;
  padding: 64px 16px;
}

@media only screen and (min-width: 768px) {
  .our-location {
    padding: 64px 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .our-location {
    padding: 64px;
  }

  .container-location {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

/* .container {
min-width:288px;
max-width: 374px;

} */


.main-list-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
  margin-bottom: 16px;
  font-family: 'Quicksand', sans-serif;
}

@media only screen and (min-width: 1440px) {
  .location-info {
   display: flex;
  
   justify-content: space-between;
   gap: 24px;
   max-height: 419px ;
   
  }

  .title-wrapper {
    
  display: flex;
  flex-direction: column;
  width: 419px;
  

  }

  /* .location-info-wrapper {
    display: flex;
    flex-direction: column;
  } */
}




.main-info {
  margin-bottom: 40px;
  
}




.main-location-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0803;
  margin-bottom: 24px;
  font-family: 'Aboreto', sans-serif;
}

.main-location-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Quicksand', sans-serif;
}

.location-item {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .location-item {
  flex-direction: row;
  justify-content: space-between;
 
}
}

@media only screen and (min-width: 1440px) {
.location-item {
  display: flex;
  flex-direction: column;
  
  
  
}
}

.list-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
  font-family: 'Aboreto', sans-serif;
}

.location-link {
  text-decoration: none;
  color: currentColor;
  font-family: 'Quicksand', sans-serif;
}

.adress-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
  display: block;
  margin-bottom: 16px;
}

.directions {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
}

.arrow-right {
  fill: #0B0803;
}

.map .iframe {
  border-radius: 40px;
  min-width: 288px;
  height: 307px;
  padding: 0 16px;
  
}

@media only screen and (min-width: 320px) and (max-width: 374.98px) {
 .map .iframe {
  max-width: 342px ;
 } 

}

@media only screen and (min-width: 768px) {
  .map .iframe {
  width: 704px;
  height: 377px;
}
}


@media only screen and (min-width: 1440px) {
  .map .iframe {
  width: 869px;
  height: 697px;
}
}

.location-icons {
  display: block;
  margin-bottom: 16px;
}
