.our-location {
    background-color: #E0CBB4 ;
    padding: 64px 16px;
}

.container {
min-width:288px;
max-width: 374px;

}

.main-info {
margin-bottom: 40px;
}


.main-list-title {
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
color: #0B0803;
margin-bottom: 16px;
font-family: "Quicksand", sans-serif;

}


.main-location-title {
font-weight: 400;
font-size: 36px;
line-height: 1.2;
letter-spacing: -0.01em;
color: #0B0803;
margin-bottom: 24px;
font-family: "Aboreto", sans-serif
}

.main-location-text {
font-weight: 400;
font-size: 18px;
line-height: 1.5;
font-family: "Quicksand", sans-serif;

}

.location-item {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 32px ;
    
}

.list-title {
font-weight: 400;
font-size: 20px;
line-height: 1.4;
letter-spacing: -0.01em;
margin-bottom: 8px;
font-family: "Aboreto", sans-serif;

}

.location-link {
    text-decoration: none;
    color: currentColor;
    font-family: "Quicksand", sans-serif;
}

.adress-text {
  font-family: "Quicksand", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #0b0803;
display: block;
margin-bottom: 16px;


}

.directions {
    font-family: "Quicksand", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #0b0803;

}




.map iframe {
    border-radius: 40px;
width: 288px;
height: 307px;
}

.location-icons {
    display: block;
    margin-bottom: 16px;
}



