.mobile-menu-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100vh;
  background-color: white;
  opacity: 0;
  pointer-events: none;
}

@media (min-width: 768px) {
  .mobile-menu-header {
    display: none;
  }
}

.mobile-menu-nav.is-open {
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu-nav-sec {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  background-color: #e0cbb4;
  transform: translate(-50%, -50%);
}

.mobile-menu-nav-thr {
  display: flex;
  padding-top: 18px;
  padding-left: 16px;
  padding-bottom: 18px;
  position: relative;
}

.mobile-item {
  margin: auto;
  width: 84px;
  margin-bottom: 32px;
}

.mobile-item:hover {
  color: #fff;
  transition: 250ms;
}

.mobile-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 24px;
  right: 28px;
}
