.mobile-menu {
  position: fixed;
  top: 72px;
  transform: translateY(100%);
  background-color: #e0cbb4;
  pointer-events: none;
  visibility: hidden;

  width: 100%;
  padding: 0 0 64px 0;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.mobile-menu.is-open {
  transform: translateY(0);
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px;
}

.mobile-menu-list {
  /* padding: 0 118px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.mobile-menu-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
