.quality {
  font-family: 'Quicksand', sans-serif;
  color: #0b0803;
}

.name-section-quality {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.quality-header {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 24px;
}

.main-discription-quality {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 32px;
}

.name-quality {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}
.discription-quality {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.quality {
  margin-top: 64px;
  margin-bottom: 64px;
}

.quality-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.quality-img-set {
  max-width: 375px;
  margin-bottom: 32px;
}

.quality-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 375px;
}
