@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./welcome.css');
@import url('./quality.css');
@import url('./experiense.css');
@import url('./subscribe.css');
@import url('./testimonials.css');
@import url('./location.css');
@import url('./footer.css');
@import url('./mobile-menu.css');
@import url('./modal.css');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Quicksand', sans-serif;
  color: #0b0803;
  background-color: #e0cbb4;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  max-width: 375px;
  min-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

@media only screen and (max-width: 374px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
