.subscription-section {
  inset: 0;
  visibility: hidden;
  pointer-events: none;

  padding: 64px 16px;
  background: rgba(0, 0, 0, 0.25);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.subscription-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  padding: 64px 16px;
  /* min-width: 288px; */
  background: #e0cbb4;
  gap: 24px;
}
.subscription-btn-close-wrapper {
  position: absolute;
  top: 24px;
  right: 24px;
}
.subscription-btn-close {
  background-color: transparent;
  border: none;
}

.subscription-close-icon {
  fill: #0b0803;
}

.subscription-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.subscription-title {
  font-family: 'Aboreto', sans-serif;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #0b0803;
  margin: 0;
}
.subscription-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #0b0803;
}
.subscription-img {
  border-radius: 24px;
  /* min-width: 256px;
  min-height: 200px; */
}
.subscription-big-btn-close {
  min-width: 256px;
  height: 44px;
  border-radius: 100px;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #6f4e37;
  align-items: center;
  text-align: center;
}

.subscription-big-btn-close:hover,
.subscription-big-btn-close:focus {
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;
  opacity: 0.5;
}

.subscription-btn-close-txt {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .subscription-section {
    padding-right: 32px;
    padding-left: 32px;
  }

  .subscription-container {
    padding: 64px;
    gap: 48px;
  }

  .subscription-title {
    font-size: 36px;
  }

  .subscription-big-btn-close {
    width: 340px;
  }

  .subscription-img {
    width: 644px;
    height: 374px;
  }
}

@media only screen and (min-width: 1440px) {
  .subscription-title {
    font-size: 48px;
  }

  .subscription-big-btn-close {
    width: 274px;
  }
}
