.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonials-title {
  font-family: 'Aboreto', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 0;
}
.testimonials-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonials-item {
  display: flex;

  flex-direction: column;
  gap: 24px;

  background: #c29d84;
  border: 1px solid rgba(11, 8, 3, 0.15);
  border-radius: 32px;
  padding: 32px;

  min-width: 265px;
}
.testimonials-container-icon {
}
.star-filled-icon {
}
.star-outline-icon {
  fill: none;
}

.testimonials-text {
  margin-bottom: 0;
}

.testimonials-text-name {
  font-weight: 600;
  font-size: 16px;
}
