.feedback {
  background-color: #e0cbb4;
  padding: 64px 16px;
}

.feedback-container {
  max-width: 320px;

  margin: 0 auto;
}

.feedback-title {
  font-family: Aboreto, sans-serif;
  line-height: 1.2;
  font-size: 36px;
  letter-spacing: 0.01em;
  margin-bottom: 24px;
  text-align: left;
}

.feedback-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.feedback-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 32px;
  background-color: #c29d84;
  border-radius: 32px;
  border: 1px solid rgba(11, 8, 3, 0.15);
}

.feedback-stars-white {
  fill: none;
  stroke: #0b0803;
}

.feedback-stars-text {
  color: #0b0803;
  font-family: Quicksand;
  font-size: 18px;
  line-height: 1.5;
  max-width: 224px;
}

.feedback-stars-name {
  font-weight: 600;
  line-height: 1.5;
}

/* _____tablet_____ */

@media only screen and (min-width: 767.8px) {
  .feedback-container {
    max-width: 704px;
  }

  .feedback {
    padding: 64px 32px;
  }

  .feedback-stars-text {
    max-width: 276px;
  }

  .feedback-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .feedback-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 24px;
    column-gap: 24px;
    align-items: stretch;
  }
}

/* ____Desctop */

@media only screen and (min-width: 1440px) {
  .feedback-container {
    max-width: 1312px;
  }

  .feedback {
    padding: 64px;
  }

  .feedback-title {
    font-size: 48px;
    max-width: 416px;
  }

  .feedback-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}
