/* THIS JUST TECHNICAL FILE FOR COMFORT VISUAL COMPARE */

#experience,
#hero,
#location,
#subscribe,
#testimonial,
#welcome,
#quality {
  display: none;
}

.header,
.subscribe-section,
.location {
  display: none;
}

/* #hero, #location, #subscribe, #testimonials, #welcome, #quality */

@media only screen and (min-width: 320px) and (max-width: 374.98px) {
  #experience,
  #hero {
    display: flex;
  }

  .location,
  header {
    display: flex;
  }
}

@media only screen and (min-width: 375px) and (max-width: 768.98px) {
  #experience,
  #hero {
    display: flex;
  }

  header {
    display: flex;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  #experience,
  #hero {
    display: flex;
  }
}

@media only screen and (min-width: 1440px) {
  #experience {
    display: flex;
  }

  .subscribe-section,
  header {
    display: block;
  }
}

#experience,
#hero {
  display: flex;
}

header {
  display: flex;
}
